#忽略的配置的文件 带有/的是目录

#Intellij IDEA
.idea/
*.iml

#Eclipse project
.project
.classpath
.settings/

#Gradle project
.gradle/
build/

#Android files
bin/
gen/
out/
local.properties


#Temp files
*.bak
*.tmp
*.temp
Thumbs.db
.DS_Store
